<div class="app-header shadow-sm my-0 p-0 border-bottom">
  <div class="nav-container" id="nav-container"></div>
</div>
<!-- FIX: Thêm margin-top để tránh bị header che phủ (≈140px = height của 2 hàng header) -->
<div class="app-content px-1">
  <div class="tab-content px-1" id="main-tab-content">
    <div class="tab-pane fade show active" id="tab-dashboard"></div>
    <div class="tab-pane fade" id="tab-form"></div>
    <div class="tab-pane fade m-1" id="tab-list"></div>
    <div class="tab-pane fade" id="tab-sub-form"></div>
    <div class="tab-pane fade admin-only" id="tab-admin-dashboard"></div>
    <div class="tab-pane fade admin-only" id="tab-log"></div>
  </div>
</div>

<div
  class="context-menu dropdown-menu shadow bg-opacity-50"
  id="bookingContextMenu"
  style="display: none; position: fixed; width: fit-content; overflow: hidden; border: none"
>
  <button class="dropdown-item gap-2 d-flex align-items-center" id="ctx-copyData">
    <i class="fa-solid fa-copy text-primary" style="width: 20px"></i>
    <span>Copy (Hàng)</span>
  </button>

  <button class="dropdown-item gap-2 d-flex align-items-center" id="ctx-paste">
    <i class="fa-solid fa-paste text-success" style="width: 20px"></i>
    <span>Dán (Hàng)</span>
  </button>
  <button class="dropdown-item gap-2 d-flex align-items-center" id="ctx-copy">
    <i class="fa-solid fa-copy text-primary" style="width: 15px"></i> Clone (Hàng)
  </button>
  <div class="dropdown-divider"></div>
  <button class="dropdown-item gap-2 d-flex align-items-center text-danger" id="ctx-save-one">
    <i class="fa-solid fa-save" style="width: 15px"></i>Save (1 Hàng)
  </button>
  <div class="dropdown-divider"></div>
  <button class="dropdown-item gap-2 d-flex align-items-center" id="ctx-delete">
    <i class="fa-solid fa-trash" style="width: 15px"></i> Delete (1 Hàng)
  </button>
  <div class="dropdown-divider"></div>
  <button class="dropdown-item gap-2 d-flex align-items-center text-danger" id="ctx-delete-bk">
    <i class="fa-solid fa-trash" style="width: 15px"></i>Xóa Booking (Database)
  </button>
</div>
